@page {
  size: A4 landscape;
  margin-top: 1.25cm;
  margin-bottom: 0.5cm;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
}

body {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  line-height: 1.2;
  column-count: 2;
}

* {
  word-wrap: break-word;
  background: none !important;
  background-color: transparent !important;
}

pre {
  white-space: pre-wrap;
  font-size: 9pt;
  line-height: 1.1;
}

/* Hide images to save space */
img {
  display: none !important;
}
